.mfd {
  position: absolute;
  width: 510px;
  height: 530px;
  background-color: grey;
  background: grey;
  background: linear-gradient(90deg, rgba(71, 71, 71, 0.5130427170868348) 100%, rgba(0, 0, 0, 0.639093137254902) 100%, rgba(36, 0, 0, 0.5270483193277311) 100%);
  border-radius: 5px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 2px solid black;
  border-radius: 10px;
}

.mfd #L1 {
  top: -2px;
  left: -2px;
}

.mfd #L2 {
  top: -2px;
  right: -2px;
}

.mfd #L3 {
  bottom: -2px;
  right: -2px;
}

.mfd #L4 {
  bottom: -2px;
  left: -2px;
}

.mfd .mfd-bolt {
  position: absolute;
  width: 25px;
  height: 25px;
  background: #00000044;
  border-radius: 50%;
  border: 2px solid black;
}

.mfd .mfd-bolt-head {
  position: absolute;
  font-size: 25px;
  color: rgb(17, 14, 14);
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mfd #L6 {
  bottom: 5px;
  left: 35px;
}

.mfd #L7 {
  bottom: 5px;
  right: 35px;
}

.mfd .dot-container {
  position: absolute;
  width: 14px;
  height: 14px;

  background: rgba(70, 66, 66, 0.747);
  border-radius: 50%;
}

.mfd .dot {
  position: absolute;
  top: -5px;
  left: -1px;
  font-size: 15.5px;
}

.mfd .test-button {
  position: absolute;
  bottom: 6px;
  left: 85px;
  height: 20px;
  width: 46px;
}

.mfd .minus-button {
  position: absolute;
  bottom: 5px;
  right: 110px;
  height: 20px;
  width: 22px;
  color: white;
}

.mfd .plus-button {
  position: absolute;
  bottom: 5px;
  right: 85px;
  height: 20px;
  width: 22px;
}

.mfd .btn {
  position: absolute;
  font-size: 10px;
  white-space: nowrap;
  color: #333;
  border: 1px solid #111;
  border-radius: 5px;
  background: linear-gradient(180deg, #333, #666, #333);
}

.mfd .btn {
  touch-action: none;
  user-select: none;
}

.mfd .test-text {
  position: absolute;
  height: 24px;
  width: 45px;
  font-size: 14px;
  color: white;
}

.mfd .operator-text {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  margin: auto;

  height: 23px;
  width: 26px;
  font-size: 20px;
  font-weight: bolder;
  color: white;
}

.mfd .text-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.mfd .frame {
  position: absolute;

  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  margin: auto;

  width: 470px;
  height: 470px;

  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.5);

  white-space: nowrap;

  border-radius: 5px;
  border: 2px solid #111;

}

.mfd .display {
  position: absolute;

  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  margin: auto;

  width: 464px;
  height: 464px;

  background-color: black;
  border-radius: 5px;
  border: 2px solid #020202;
  white-space: nowrap;

}

.mfd .mfd-off {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  margin: auto;
  width: 464px;
  height: 464px;
  background-color: black;
  border-radius: 5px;
  border: 2px solid #020202;
  white-space: nowrap;
  z-index: 6;
}

.mfd .mfd-brightness {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  margin: auto;
  width: 464px;
  height: 464px;
  background-color: black;
  border-radius: 5px;
  border: 2px solid #020202;
  white-space: nowrap;
  z-index: 5;
}