.mfd .controls-container {
  position: absolute;
  bottom: -800px;
  left: 0px;
  right: 0px;
  margin: auto;
  width: 510px;
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap; 
  gap: 10px;
}

.mfd .slider-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 calc(50% - 10px);
}

.mfd label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

.mfd button {
  margin: 0 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
