.il-pfd-one {
  position: absolute;
  width: 510px;
  height: 530px;
  background-color: grey;
  background: grey;
  background: linear-gradient(90deg, rgba(71, 71, 71, 0.5130427170868348) 100%, rgba(0, 0, 0, 0.639093137254902) 100%, rgba(36, 0, 0, 0.5270483193277311) 100%);
  border-radius: 5px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 2px solid black;
  border-radius: 10px;
}

.il-pfd-one 
#L1 {
  top: -2px;
  left: -2px;
}

.il-pfd-one 
#L2 {
  top: -2px;
  right: -2px;
}

.il-pfd-one 
#L3 {
  bottom: -2px;
  right: -2px;
}

.il-pfd-one 
#L4 {
  bottom: -2px;
  left: -2px;
}

.il-pfd-one 
.il-pfd-bolt {
  position: absolute;
  width: 25px;
  height: 25px;
  background: #00000044;
  border-radius: 50%;
  border: 2px solid black;
}
.il-pfd-one 
.il-pfd-bolt-head {
  position: absolute;
  font-size: 25px;
  color: rgb(17, 14, 14);
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.il-pfd-one 
#L6 {
  bottom: 5px;
  left: 35px;
}

.il-pfd-one 
#L7 {
  bottom: 5px;
  right: 35px;
}

.il-pfd-one 
.il-dot-container {
  position: absolute;
  width: 14px;
  height: 14px;

  background: rgba(70, 66, 66, 0.747);
  border-radius: 50%;
}

.il-pfd-one
.il-dot {
  position: absolute;
  top: -5px;
  left: -1px;
  font-size: 15.5px;
}

.il-pfd-one
.ilTestButton {
  position: absolute;
  bottom: 6px;
  left: 85px;
  height: 20px;
  width: 46px;
}

.il-pfd-one
.ilMinusButton {
  position: absolute;
  bottom: 5px;
  right: 110px;
  height: 20px;
  width: 22px;
  color: white;
}

.il-pfd-one
.ilPlusButton {
  position: absolute;
  bottom: 5px;
  right: 85px;
  height: 20px;
  width: 22px;
}

.il-pfd-one
.btn {
  position: absolute;
  font-size: 10px;
  white-space: nowrap;
  color: #333;
  border: 1px solid #111;
  border-radius: 5px;
  background: linear-gradient(180deg, #333, #666, #333);
}

.il-pfd-one
.btn {
  touch-action: none;
  user-select: none;
}

.il-pfd-one
.il_button_test_style {
  position: absolute;
  height: 24px;
  width: 45px;
  font-size: 14px;
  color: white;
}

.il-pfd-one
.il_button_font_style {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  margin: auto;

  height: 23px;
  width: 26px;
  font-size: 20px;
  font-weight: bolder;
  color: white;
}

.il-pfd-one
.il_text_style {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.il-pfd-one
.kotak5 {
  position: absolute;

  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  margin: auto;

  width: 470px;
  height: 470px;

  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.5);

  white-space: nowrap;

  border-radius: 5px;
  border: 2px solid #111;

}

.il-pfd-one
.kotak25 {
  position: absolute;

  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  margin: auto;

  width: 464px;
  height: 464px;

  background-color: black;
  border-radius: 5px;
  border: 2px solid #020202;
  white-space: nowrap;
}

.il-pfd-one 
.il-pfd-one-off {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  margin: auto;
  width: 464px;
  height: 464px;
  background-color: black;
  border-radius: 5px;
  border: 2px solid #020202;
  white-space: nowrap;
  z-index: 6;
}

.il-pfd-one 
.il-pfd-one-brightness {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  margin: auto;
  width: 464px;
  height: 464px;
  background-color: black;
  border-radius: 5px;
  border: 2px solid #020202;
  white-space: nowrap;
  z-index: 5;
}
