.mfd .headings {
  position: absolute;
  top: 150px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  margin: auto;

  height: 228px;
  width: 228px;
  border: 1px solid white;
  border-radius: 50%;
  display: inline-block;
}

.mfd .heading-circle-accuracy {
  position: absolute;
  top: 150px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  margin: auto;

  height: 228px;
  width: 228px;
  border: 1px solid white;
  border-radius: 50%;
  display: inline-block;
}

.mfd .plane-icon {
  position: absolute;
  width: 30px;
  height: 30px;
  transform: rotate(45deg);
  transform-origin: center;
  fill: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 150px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  margin: auto
}

.mfd .circle-headings {
  position: absolute;
  width: 115px;
  height: 115px;
  fill: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 150px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  margin: auto;
  outline: 1px solid white;
  border-radius: 50%;
}


.mfd .headings .line {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 1px;
  left: 50%;
  transform: translate(-50%, 0);
}

.mfd .headings .top {
  position: absolute;
  top: 0px;
  height: 10px;
  width: 1px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: white;
}


.mfd .headings .bottom {
  position: absolute;
  bottom: 0px;
  height: 10px;
  width: 1px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: white;
}

.mfd .heading-degree-accuracy {
  position: absolute;
  top: 155px;
  left: 210px;
  font-size: 16px;
  color: white;
  width: 40px;
  height: 26px;
  text-align: center;
  vertical-align: center;
}

.mfd .accuracy-line-1 {
  position: absolute;

  top: 0px;
  left: 0px;
  bottom: 150px;
  right: 0px;
  margin: auto;

  width: 40px;
  height: 1px;
  background-color: white;
}

.mfd .accuracy-line-2 {
  position: absolute;

  top: 0px;
  left: 25px;
  bottom: 100px;
  right: 0px;
  margin: auto;

  width: 15px;
  height: 1px;
  background-color: white;
}

.mfd .accuracy-line-3 {
  position: absolute;

  top: 0px;
  left: 0px;
  bottom: 100px;
  right: 25px;
  margin: auto;

  width: 15px;
  height: 1px;
  background-color: white;
}

.mfd .accuracy-line-4 {
  position: absolute;

  top: 0px;
  left: 0px;
  bottom: 90px;
  right: 4px;
  margin: auto;

  width: 10px;
  height: 1px;
  rotate: 62deg;
  background-color: white;
}

.mfd .accuracy-line-5 {
  position: absolute;

  top: 0px;
  left: 4px;
  bottom: 90px;
  right: 0px;
  margin: auto;

  width: 10px;
  height: 1px;
  rotate: -62deg;
  background-color: white;
}

.mfd .accuracy-line-6 {
  position: absolute;

  top: 0px;
  left: 210px;
  bottom: 125px;
  right: 0px;
  margin: auto;

  color: grey;
  border-left: 1px white solid;
  height: 25px;
}

.mfd .accuracy-line-7 {
  position: absolute;

  top: 0px;
  left: 250px;
  bottom: 125px;
  right: 0px;
  margin: auto;

  border-left: 1px white solid;
  height: 25px;
}

.mfd .points {
  position: absolute;

  top: 150px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  margin: auto;

  height: 228px;
  width: 228px;
  border-radius: 50%;
  display: inline-block;
  rotate: 0deg;
}

.mfd .points .south {
  position: absolute;
  top: 195px;
  left: 107.5px;
  font-size: 20px;
  color: white;
}

.mfd .points .deg330 {
  position: absolute;
  top: 31px;
  left: 58px;
  font-size: 14px;
  color: white;
}

.mfd .points .deg300 {
  position: absolute;
  top: 63px;
  left: 27px;
  font-size: 14px;
  color: white;
}

.mfd .points .west {
  position: absolute;
  top: 106px;
  left: 17px;
  font-size: 20px;
  color: white;
}

.mfd .points .deg240 {
  position: absolute;
  top: 152px;
  left: 27px;
  font-size: 14px;
  color: white;
}

.mfd .points .deg210 {
  position: absolute;
  top: 185px;
  left: 59px;
  font-size: 14px;
  color: white;
}

.mfd .points .deg150 {
  position: absolute;
  top: 185px;
  left: 150px;
  font-size: 14px;
  color: white;
}

.mfd .points .deg120 {
  position: absolute;
  top: 152px;
  left: 182px;
  font-size: 14px;
  color: white;
}

.mfd .points .east {
  position: absolute;
  top: 106px;
  left: 197px;
  font-size: 20px;
  color: white;
}

.mfd .points .deg60 {
  position: absolute;
  top: 63px;
  left: 187px;
  font-size: 14px;
  color: white;
}

.mfd .points .deg30 {
  position: absolute;
  top: 31px;
  left: 154px;
  font-size: 14px;
  color: white;
}

.mfd .points .north {
  position: absolute;
  top: 12px;
  left: 107px;
  font-size: 20px;
  color: white;
}

.mfd .heading-circle-accuracy .triangle-left {
  position: absolute;
  width: 228px;
  height: 228px;
  border-radius: 50%;
  transform: translate(-50%) rotate(-45deg);
  left: 50%;
  z-index: 1;
}

.mfd .heading-circle-accuracy .triangle-left::before {
  content: '';
  position: absolute;
  top: -9px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid white;
}

.mfd .heading-circle-accuracy .line-left-1 {
  position: absolute;
  width: 228px;
  height: 228px;
  border-radius: 50%;
  transform: translate(-50%) rotate(-60deg);
  left: 50%;
  z-index: 1;
}

.mfd .heading-circle-accuracy .line-left-1::before {
  content: '';
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 10px;
  background-color: white;
}

.mfd .heading-circle-accuracy .line-left-2 {
  position: absolute;
  width: 228px;
  height: 228px;
  border-radius: 50%;
  transform: translate(-50%) rotate(-30deg);
  left: 50%;
  z-index: 1;
}

.mfd .heading-circle-accuracy .line-left-2::before {
  content: '';
  position: absolute;
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 5px;
  background-color: white;
}

.mfd .heading-circle-accuracy .triangle-right {
  position: absolute;
  width: 228px;
  height: 228px;
  border-radius: 50%;
  transform: translate(-50%) rotate(45deg);
  left: 50%;
  z-index: 1;
}

.mfd .heading-circle-accuracy .triangle-right::before {
  content: '';
  position: absolute;
  top: -9px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid white;
}

.mfd .heading-circle-accuracy .line-right-1 {
  position: absolute;
  width: 228px;
  height: 228px;
  border-radius: 50%;
  transform: translate(-50%) rotate(60deg);
  left: 50%;
  z-index: 1;
}

.mfd .heading-circle-accuracy .line-right-1::before {
  content: '';
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 10px;
  background-color: white;
}

.mfd .heading-circle-accuracy .line-right-2 {
  position: absolute;
  width: 228px;
  height: 228px;
  border-radius: 50%;
  transform: translate(-50%) rotate(30deg);
  left: 50%;
  z-index: 1;
}

.mfd .heading-circle-accuracy .line-right-2::before {
  content: '';
  position: absolute;
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 5px;
  background-color: white;
}

.mfd .heading-circle-accuracy .triangle-left-bot {
  position: absolute;
  width: 228px;
  height: 228px;
  border-radius: 50%;
  transform: translate(-50%) rotate(-135deg);
  left: 50%;
  z-index: 1;
}

.mfd .heading-circle-accuracy .triangle-left-bot::before {
  content: '';
  position: absolute;
  top: -7px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid white;
}

.mfd .heading-circle-accuracy .line-left-bot-1 {
  position: absolute;
  width: 228px;
  height: 228px;
  border-radius: 50%;
  transform: translate(-50%) rotate(-120deg);
  left: 50%;
  z-index: 1;
}

.mfd .heading-circle-accuracy .line-left-bot-1::before {
  content: '';
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 10px;
  background-color: white;
}

.mfd .heading-circle-accuracy .line-left-bot-2 {
  position: absolute;
  width: 228px;
  height: 228px;
  border-radius: 50%;
  transform: translate(-50%) rotate(-150deg);
  left: 50%;
  z-index: 1;
}

.mfd .heading-circle-accuracy .line-left-bot-2::before {
  content: '';
  position: absolute;
  top: -4px;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 5px;
  background-color: white;
}

.mfd .heading-circle-accuracy .triangle-right-bot {
  position: absolute;
  width: 228px;
  height: 228px;
  border-radius: 50%;
  transform: translate(-50%) rotate(135deg);
  left: 50%;
  z-index: 1;
}

.mfd .heading-circle-accuracy .triangle-right-bot::before {
  content: '';
  position: absolute;
  top: -7px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid white;
}

.mfd .heading-circle-accuracy .line-right-bot-1 {
  position: absolute;
  width: 228px;
  height: 228px;
  border-radius: 50%;
  transform: translate(-50%) rotate(120deg);
  left: 50%;
  z-index: 1;
}

.mfd .heading-circle-accuracy .line-right-bot-1::before {
  content: '';
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 10px;
  background-color: white;
}

.mfd .heading-circle-accuracy .line-right-bot-2 {
  position: absolute;
  width: 228px;
  height: 228px;
  border-radius: 50%;
  transform: translate(-50%) rotate(150deg);
  left: 50%;
  z-index: 1;
}

.mfd .heading-circle-accuracy .line-right-bot-2::before {
  content: '';
  position: absolute;
  top: -4px;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 5px;
  background-color: white;
}

.mfd .heading-bug-container {
  position: absolute;
  top: 150px;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  height: 228px;
  width: 228px;
  border-radius: 50%;
}

.mfd .heading-bug-container::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  width: 0px;
  height: 50%;
  border-right: 2px dashed cyan;
}

.mfd .heading-bug-container .heading-bug-square {
  position: absolute;
  top: -10px;
  left: 0;
  right: 0;
  margin: auto;
  width: 30px;
  height: 10px;
  background-color: cyan;
}

.mfd .heading-bug-container .heading-bug-triangle {
  color: black;
  rotate: 90deg;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}