.il-top-display-container 
.il-flights-status-container {
  position: absolute;
  height: 112px;
  width: 325px;
  border-right: 2px solid gray;
  color: green;
}

.il-pfd-one
.il-flights-status-container
.il-flights-details {
  margin-top: 10px;
  width: 70%;
}

.il-pfd-one
.il-flights-status-container
.il-flights-details
tr th {
  padding: 1px;
  border-bottom: 1px solid green;
  text-align: center;
  font-size: 16px;
}

.il-pfd-one
.il-flights-status-container
.il-flights-details
tr td {
  font-size: 14px;
  font-weight: bold;
}

.il-pfd-one
.il-flights-details
.il-row
.il-column {
  text-align: right;
}

.il-pfd-one
.il-top-gap {
  padding-top: 5px;
}

.il-pfd-one
.il-top-gap-extra {
  padding-top: 10px;
}

.il-pfd-one
.il-flights-details
.il-to-cyan {
  color: rgba(63,251,246,255);
}

.il-pfd-one
.il-flights-details
.il-row
.il-flight-value-one {
  text-align: center;
  font-size: 10px;
}

.il-pfd-one
.il-flights-details
.il-row
.il-flight-value-two {
  text-align: left;
}