.il-pfd-one 
.lingkaranGaris {
  position: absolute;
  top: 150px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  margin: auto;

  height: 228px;
  width: 228px;
  border: 1px solid white;
  border-radius: 50%;
  display: inline-block;
}

.il-pfd-one 
.heading-circle-accuracy {
  position: absolute;
  top: 150px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  margin: auto;

  height: 228px;
  width: 228px;
  border: 1px solid white;
  border-radius: 50%;
  display: inline-block;
}

.il-pfd-one 
.plane-icon {
  position: absolute;
  width: 30px;
  height: 30px;
  transform: rotate(45deg);
  transform-origin: center;
  fill: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 150px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  margin: auto
}

.il-pfd-one
.circle-headings {
  position: absolute;
  width: 115px;
  height: 115px;
  fill: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 150px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  margin: auto;
  outline: 1px solid white;
  border-radius: 50%;
}


.il-pfd-one
.LG1 {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 1px;
  left: 50%;
  transform: translate(-50%, 0);
}

.il-pfd-one
.LG2 {
  position: absolute;
  top: 0px;
  height: 10px;
  width: 1px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: white;
}


.il-pfd-one
.LG3 {
  position: absolute;
  bottom: 0px;
  height: 10px;
  width: 1px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: white;
}

.il-pfd-one
.tulis177 {
  position: absolute;
  top: 155px;
  left: 210px;
  font-size: 16px;
  color: white;
  width: 40px;
  height: 26px;
  text-align: center;
  vertical-align: center;
}

.il-pfd-one
.garisLurus7 {
  position: absolute;

  top: 0px;
  left: 0px;
  bottom: 150px;
  right: 0px;
  margin: auto;

  width: 40px;
  height: 1px;
  background-color: white;
}

.il-pfd-one
.garisLurus8 {
  position: absolute;

  top: 0px;
  left: 25px;
  bottom: 100px;
  right: 0px;
  margin: auto;

  width: 15px;
  height: 1px;
  background-color: white;
}

.il-pfd-one
.garisLurus9 {
  position: absolute;

  top: 0px;
  left: 0px;
  bottom: 100px;
  right: 25px;
  margin: auto;

  width: 15px;
  height: 1px;
  background-color: white;
}

.il-pfd-one
.garisMiring1 {
  position: absolute;

  top: 0px;
  left: 0px;
  bottom: 90px;
  right: 4px;
  margin: auto;

  width: 10px;
  height: 1px;
  rotate: 62deg;
  background-color: white;
}

.il-pfd-one
.garisMiring2 {
  position: absolute;

  top: 0px;
  left: 4px;
  bottom: 90px;
  right: 0px;
  margin: auto;

  width: 10px;
  height: 1px;
  rotate: -62deg;
  background-color: white;
}

.il-pfd-one
.garisBawah5 {
  position: absolute;

  top: 0px;
  left: 210px;
  bottom: 125px;
  right: 0px;
  margin: auto;

  color: grey;
  border-left: 1px white solid;
  height: 25px;
}

.il-pfd-one
.garisBawah6 {
  position: absolute;

  top: 0px;
  left: 250px;
  bottom: 125px;
  right: 0px;
  margin: auto;

  border-left: 1px white solid;
  height: 25px;
}

.il-pfd-one
.tulis143 {
  position: absolute;
  top: 175px;
  left: 125px;
  font-size: 16px;
  color: purple;
  font-weight: bold;
}

.il-pfd-one
.lingkaran17 {
  position: absolute;

  top: 150px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  margin: auto;

  height: 228px;
  width: 228px;
  border-radius: 50%;
  display: inline-block;
  rotate: 0deg;
}

.il-pfd-one
.tulis186 {
  position: absolute;
  top: 195px;
  left: 107.5px;
  font-size: 20px;
  color: white;
}

.il-pfd-one
.tulis187 {
  position: absolute;
  top: 31px;
  left: 58px;
  font-size: 14px;
  color: white;
}

.il-pfd-one
.tulis188 {
  position: absolute;
  top: 63px;
  left: 27px;
  font-size: 14px;
  color: white;
}

.il-pfd-one
.tulis189 {
  position: absolute;
  top: 106px;
  left: 17px;
  font-size: 20px;
  color: white;
}

.il-pfd-one
.tulis190 {
  position: absolute;
  top: 152px;
  left: 27px;
  font-size: 14px;
  color: white;
}

.il-pfd-one
.tulis191 {
  position: absolute;
  top: 185px;
  left: 59px;
  font-size: 14px;
  color: white;
}

.il-pfd-one
.tulis192 {
  position: absolute;
  top: 185px;
  left: 150px;
  font-size: 14px;
  color: white;
}

.il-pfd-one
.tulis193 {
  position: absolute;
  top: 152px;
  left: 182px;
  font-size: 14px;
  color: white;
}

.il-pfd-one
.tulis194 {
  position: absolute;
  top: 106px;
  left: 197px;
  font-size: 20px;
  color: white;
}

.il-pfd-one
.tulis195 {
  position: absolute;
  top: 63px;
  left: 187px;
  font-size: 14px;
  color: white;
}

.il-pfd-one
.tulis196 {
  position: absolute;
  top: 31px;
  left: 154px;
  font-size: 14px;
  color: white;
}

.il-pfd-one
.tulis207 {
  position: absolute;
  top: 12px;
  left: 107px;
  font-size: 20px;
  color: white;
}

.il-pfd-one
.lingkaran12 {
  position: absolute;

  top: 150px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  margin: auto;

  height: 228px;
  width: 228px;
  border-radius: 50%;
  display: inline-block;
  rotate: 0deg;
}

.il-pfd-one
.garisBawah8 {
  position: absolute;
  top: 5px;
  left: 114px;
  border-left: 2px green solid;
  height: 52px;

}

.il-pfd-one
.lingkaran30 {
  position: absolute;
  top: 31px;
  left: 110px;
  width: 10px;
  height: 10px;
  background: green;
  border-radius: 100%;
}

.il-pfd-one
.garisBawah9 {
  position: absolute;
  top: 171px;
  left: 114px;
  border-left: 2px green solid;
  height: 45px;

}

.il-pfd-one
.garisLurus10 {
  position: absolute;
  top: 201.5px;
  left: 114px;
  width: 8px;
  height: 2px;
  rotate: 40deg;
  background-color: green;
}

.il-pfd-one
.garisLurus11 {
  position: absolute;
  top: 201.5px;
  left: 108px;
  width: 8px;
  height: 2px;
  rotate: -40deg;
  background-color: green;
}

.il-pfd-one
.lingkaran14 {
  position: absolute;

  top: 150px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  margin: auto;

  height: 228px;
  width: 228px;
  border-color: white;
  border-radius: 50%;
  display: inline-block;
  rotate: 0deg;
}

.il-pfd-one
.garisBawah19 {
  position: absolute;
  top: 188px;
  left: 109px;
  border-left: 2px yellow solid;
  height: 30px;
}

.il-pfd-one 
.garisBawah20 {
  position: absolute;
  top: 188px;
  left: 117px;
  border-left: 2px yellow solid;
  height: 30px;
}

.il-pfd-one 
.garisLurus20 {
  position: absolute;
  top: 213px;
  left: 108.9px;
  width: 6.5px;
  height: 2px;
  rotate: -50deg;
  background-color: yellow;
}

.il-pfd-one
.garisLurus21 {
  position: absolute;
  top: 214px;
  left: 113px;
  width: 6px;
  height: 2px;
  rotate: 50deg;
  background-color: yellow;
}

.il-pfd-one
.garisBawah16 {
  position: absolute;
  top: 10.5px;
  left: 114px;
  border-left: 2px yellow solid;
  height: 19px;
}

.il-pfd-one
.garisBawah17 {
  position: absolute;
  top: 34.4px;
  left: 108.6px;
  border-left: 2px yellow solid;
  height: 20px;
}

.il-pfd-one
.garisBawah18 {
  position: absolute;
  top: 34.4px;
  left: 118.4px;
  border-left: 2px yellow solid;
  height: 20px;
}

.il-pfd-one
.garisLurus16 {
  position: absolute;
  top: 31px;
  left: 108px;
  width: 8px;
  height: 2px;
  rotate: -50deg;
  background-color: yellow;
}

.il-pfd-one
.garisLurus17 {
  position: absolute;
  top: 31px;
  left: 113px;
  width: 8px;
  height: 2px;
  rotate: 50deg;
  background-color: yellow;
}

.il-pfd-one
.garisLurus18 {
  position: absolute;
  top: 35.8px;
  left: 113px;
  width: 7px;
  height: 2px;
  rotate: -210deg;
  background-color: yellow;
}

.il-pfd-one 
.garisLurus19 {
  position: absolute;
  top: 36px;
  left: 109px;
  width: 6px;
  height: 2px;
  rotate: 210deg;
  background-color: yellow;
}

.il-pfd-one
.lingkaran15 {
  position: absolute;

  top: 150px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  margin: auto;

  height: 228px;
  width: 228px;

  border-radius: 50%;
  display: inline-block;
  rotate: 0deg;
}

.il-pfd-one
.tulis180 {
  position: absolute;
  top: 60px;
  left: 103.5px;
  font-size: 20px;
  rotate: -90deg;
  color: rgb(43, 43, 218);
}

.il-pfd-one
.tulis181 {
  position: absolute;
  top: 2px;
  left: 103.5px;
  font-size: 22px;
  rotate: -90deg;
  color: rgb(43, 43, 218);
}


.il-pfd-one
.kotak39 {
  position: absolute;
  top: 41px;
  left: 100px;
  height: 4px;
  width: 24px;
  white-space: nowrap;
  rotate: -90deg;
  border: 1.5px dotted royalblue;
}

.il-pfd-one
.kotak40 {
  position: absolute;
  top: 185px;
  left: 85.5px;
  height: 4px;
  width: 54px;
  white-space: nowrap;
  rotate: -90deg;
  border: 1px dotted royalblue;
}

.il-pfd-one
.kotak41 {
  position: absolute;
  top: 109px;
  left: 61px;
  height: 4px;
  width: 105px;
  white-space: nowrap;
  rotate: -90deg;
  border: 1px dotted royalblue;
}

.il-pfd-one
.lingkaran16 {
  position: absolute;

  top: 150px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  margin: auto;

  height: 228px;
  width: 228px;

  border-radius: 50%;
  display: inline-block;
  rotate: 0deg;
}

.il-pfd-one
.tulis182 {
  position: absolute;
  top: 64px;
  left: 105px;
  font-size: 18px;
  rotate: -90deg;
  color: purple;
}

.il-pfd-one
.tulis183 {
  position: absolute;
  top: 5px;
  left: 104px;
  font-size: 18px;
  rotate: -90deg;
  color: purple;
}

.il-pfd-one
.garisBawah10 {
  position: absolute;
  top: 19px;
  left: 112.5px;
  border-left: 2px purple solid;
  height: 40px;
  width: 0px;
}

.il-pfd-one 
.garisBawah11 {
  position: absolute;
  top: 158px;
  left: 112.5px;
  border-left: 2px purple solid;
  height: 59px;
  width: 0px;
}

.il-pfd-one
.garisBawah12 {
  position: absolute;
  top: 60px;
  left: 112.5px;
  border-left: 2px purple solid;
  height: 100px;
  width: 0px;
}

.il-pfd-one
.lingkaran18 {
  position: absolute;

  top: 150px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  margin: auto;

  height: 228px;
  width: 228px;

  border-radius: 50%;
  display: inline-block;
  rotate: 0deg;
}

.il-pfd-one
.tulis184 {
  position: absolute;
  top: 165.5px;
  left: 116px;
  font-size: 9px;
  color: white;
}

.il-pfd-one
.tulis185 {
  position: absolute;
  top: 167.5px;
  left: 120px;
  font-size: 6px;
  color: white;
}

.il-pfd-one
.lingkaran31 {
  position: absolute;
  top: 55px;
  left: 111px;
  width: 5px;
  height: 5px;
  background: white;
  border-radius: 100%;
}

.il-pfd-one
.lingkaran32 {
  position: absolute;
  top: 82px;
  left: 111px;
  width: 5px;
  height: 5px;
  background: white;
  border-radius: 100%;
}

.il-pfd-one
.lingkaran33 {
  position: absolute;
  top: 111px;
  left: 110px;
  width: 6px;
  height: 6px;
  background: white;
  border-radius: 100%;
}

.il-pfd-one
.lingkaran34 {
  position: absolute;
  top: 139px;
  left: 111px;
  width: 5px;
  height: 5px;
  background: white;
  border-radius: 100%;
}

.il-pfd-one
.lingkaran35 {
  position: absolute;
  top: 168px;
  left: 111px;
  width: 5px;
  height: 5px;
  background: white;
  border-radius: 100%;
}

.il-pfd-one
.il-triangle-left {
  position: absolute;
  width: 228px;
  height: 228px;
  border-radius: 50%;
  transform: translate(-50%) rotate(-45deg);
  left: 50%;
  z-index: 1;
}

.il-pfd-one
.il-triangle-left::before {
  content: '';
  position: absolute;
  top: -9px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid white;
}

.il-pfd-one
.il-line-left-1 {
  position: absolute;
  width: 228px;
  height: 228px;
  border-radius: 50%;
  transform: translate(-50%) rotate(-60deg);
  left: 50%;
  z-index: 1;
}

.il-pfd-one
.il-line-left-1::before {
  content: '';
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 10px;
  background-color: white;
}

.il-pfd-one
.il-line-left-2 {
  position: absolute;
  width: 228px;
  height: 228px;
  border-radius: 50%;
  transform: translate(-50%) rotate(-30deg);
  left: 50%;
  z-index: 1;
}

.il-pfd-one
.il-line-left-2::before {
  content: '';
  position: absolute;
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 5px;
  background-color: white;
}

.il-pfd-one
.il-triangle-right {
  position: absolute;
  width: 228px;
  height: 228px;
  border-radius: 50%;
  transform: translate(-50%) rotate(45deg);
  left: 50%;
  z-index: 1;
}

.il-pfd-one
.il-triangle-right::before {
  content: '';
  position: absolute;
  top: -9px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid white;
}

.il-pfd-one
.il-line-right-1 {
  position: absolute;
  width: 228px;
  height: 228px;
  border-radius: 50%;
  transform: translate(-50%) rotate(60deg);
  left: 50%;
  z-index: 1;
}

.il-pfd-one
.il-line-right-1::before {
  content: '';
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 10px;
  background-color: white;
}

.il-pfd-one
.il-line-right-2 {
  position: absolute;
  width: 228px;
  height: 228px;
  border-radius: 50%;
  transform: translate(-50%) rotate(30deg);
  left: 50%;
  z-index: 1;
}

.il-pfd-one
.il-line-right-2::before {
  content: '';
  position: absolute;
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 5px;
  background-color: white;
}

.il-pfd-one
.il-triangle-left-bot {
  position: absolute;
  width: 228px;
  height: 228px;
  border-radius: 50%;
  transform: translate(-50%) rotate(-135deg);
  left: 50%;
  z-index: 1;
}

.il-pfd-one
.il-triangle-left-bot::before {
  content: '';
  position: absolute;
  top: -7px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid white;
}

.il-pfd-one
.il-line-left-bot-1 {
  position: absolute;
  width: 228px;
  height: 228px;
  border-radius: 50%;
  transform: translate(-50%) rotate(-120deg);
  left: 50%;
  z-index: 1;
}

.il-pfd-one
.il-line-left-bot-1::before {
  content: '';
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 10px;
  background-color: white;
}

.il-pfd-one
.il-line-left-bot-2 {
  position: absolute;
  width: 228px;
  height: 228px;
  border-radius: 50%;
  transform: translate(-50%) rotate(-150deg);
  left: 50%;
  z-index: 1;
}

.il-pfd-one
.il-line-left-bot-2::before {
  content: '';
  position: absolute;
  top: -4px;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 5px;
  background-color: white;
}

.il-pfd-one
.il-triangle-right-bot {
  position: absolute;
  width: 228px;
  height: 228px;
  border-radius: 50%;
  transform: translate(-50%) rotate(135deg);
  left: 50%;
  z-index: 1;
}

.il-pfd-one
.il-triangle-right-bot::before {
  content: '';
  position: absolute;
  top: -7px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid white;
}

.il-pfd-one
.il-line-right-bot-1 {
  position: absolute;
  width: 228px;
  height: 228px;
  border-radius: 50%;
  transform: translate(-50%) rotate(120deg);
  left: 50%;
  z-index: 1;
}

.il-pfd-one
.il-line-right-bot-1::before {
  content: '';
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 10px;
  background-color: white;
}

.il-pfd-one
.il-line-right-bot-2 {
  position: absolute;
  width: 228px;
  height: 228px;
  border-radius: 50%;
  transform: translate(-50%) rotate(150deg);
  left: 50%;
  z-index: 1;
}

.il-pfd-one
.il-line-right-bot-2::before {
  content: '';
  position: absolute;
  top: -4px;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 5px;
  background-color: white;
}

.il-pfd-one
.il-heading-bug-container {
  position: absolute;
  top: 150px;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  height: 228px;
  width: 228px;
  border-radius: 50%;
}

.il-pfd-one
.il-heading-bug-container::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  width: 0px;
  height: 50%;
  border-right: 2px dashed cyan;
}

.il-pfd-one
.il-heading-bug-square {
  position: absolute;
  top: -10px;
  left: 0;
  right: 0;
  margin: auto;
  width: 30px;
  height: 10px;
  background-color: cyan;
}

.il-pfd-one
.il-heading-bug-triangle {
    color: black;
    rotate: 90deg;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

