.il-pfd-one
.il-top-display-container {
  position: absolute;
  width: 460px;
  height: 115px;
  border: 2px solid grey;
}

.il-pfd-one
.il-top-display-container
.il-time-estimation-container {
  position: absolute;
  width: 70px;
  height: 112px;
  left: 325px;
  border-right: 2px solid gray;
}