.il-pfd-one
.kotak25 
.il-left-bottom-vor1 {
  position: absolute;
  bottom: 90px;
  left: 0px;
  height: 80px;
  width: 100px;
  padding: 5px;
}

.il-pfd-one
.il-left-bottom-vor1
.il-left-bottom-vor1-icon {
  left: 6px;
  top: 10px;
  position: absolute;
  font-size: 16px;
  color: red;
  font-weight: bold;
}

.il-pfd-one
.kotak25 
.garisBawah7 {
  position: absolute;
  top: 20px;
  left: 20px;
  border-left: 2px red solid;
  height: 35px;
}

.il-pfd-one
.kotak25 
.lingkaran13 {
  position: absolute;
  top: 32px;
  left: 16px;
  height: 10px;
  width: 10px;
  background: red;
  border-radius: 50%;
}

.il-pfd-one
.il-left-bottom-vor1 
.il-left-bottom-vor1-details {
  position: absolute;
  right: 5px;
  top: 5px;
  bottom: 0px;
  font-size: 16px;
  color: red;
  text-align: right;
  font-weight: bold;
}