.il-pfd-one
.il-arrow-container {
  position: absolute;
  top: 125px;
  left: 125px;
}

.il-pfd-one
.tulis142 {
  font-size: 10px;
  color: grey;
}

.il-pfd-one
.il-arrow {
  position: absolute;
  transform: rotate(-25deg);
  transform-origin: 50% 50%;
  width: 30px;
  height: 20px;
}

.il-pfd-one
.tulis198 {
  position: absolute;
  font-size: 15px;
  rotate: 180deg;
  color: grey;
}

.il-pfd-one
.garisLurus22 {
  position: absolute;
  top: 9px;
  right: 0px;
  width: 20px;
  height: 1px;
  background-color: grey;
}
