.mfd .green-needle {
  position: absolute;

  top: 150px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  margin: auto;

  height: 228px;
  width: 228px;
  border-radius: 50%;
  display: inline-block;
  rotate: 0deg;
}

.mfd .green-needle .line-1 {
  position: absolute;
  top: 5px;
  left: 114px;
  border-left: 2px green solid;
  height: 52px;

}

.mfd .green-needle .circle-1 {
  position: absolute;
  top: 31px;
  left: 110px;
  width: 10px;
  height: 10px;
  background: green;
  border-radius: 100%;
}

.mfd .green-needle .line-2 {
  position: absolute;
  top: 171px;
  left: 114px;
  border-left: 2px green solid;
  height: 45px;

}

.mfd .green-needle .line-3 {
  position: absolute;
  top: 201.5px;
  left: 114px;
  width: 8px;
  height: 2px;
  rotate: 40deg;
  background-color: green;
}

.mfd .green-needle .line-4 {
  position: absolute;
  top: 201.5px;
  left: 108px;
  width: 8px;
  height: 2px;
  rotate: -40deg;
  background-color: green;
}

.mfd .yellow-needle {
  position: absolute;

  top: 150px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  margin: auto;

  height: 228px;
  width: 228px;
  border-color: white;
  border-radius: 50%;
  display: inline-block;
  rotate: 0deg;
}

.mfd .yellow-needle .line-1 {
  position: absolute;
  top: 10.5px;
  left: 114px;
  border-left: 2px yellow solid;
  height: 19px;
}

.mfd .yellow-needle .line-2 {
  position: absolute;
  top: 34.4px;
  left: 108.6px;
  border-left: 2px yellow solid;
  height: 20px;
}

.mfd .yellow-needle .line-3 {
  position: absolute;
  top: 34.4px;
  left: 118.4px;
  border-left: 2px yellow solid;
  height: 20px;
}

.mfd .yellow-needle .line-4 {
  position: absolute;
  top: 31px;
  left: 108px;
  width: 8px;
  height: 2px;
  rotate: -50deg;
  background-color: yellow;
}

.mfd .yellow-needle .line-5 {
  position: absolute;
  top: 31px;
  left: 113px;
  width: 8px;
  height: 2px;
  rotate: 50deg;
  background-color: yellow;
}

.mfd .yellow-needle .line-6 {
  position: absolute;
  top: 35.8px;
  left: 113px;
  width: 7px;
  height: 2px;
  rotate: -210deg;
  background-color: yellow;
}

.mfd .yellow-needle .line-7 {
  position: absolute;
  top: 36px;
  left: 109px;
  width: 6px;
  height: 2px;
  rotate: 210deg;
  background-color: yellow;
}

.mfd .yellow-needle .line-8 {
  position: absolute;
  top: 188px;
  left: 109px;
  border-left: 2px yellow solid;
  height: 30px;
}

.mfd .yellow-needle .line-9 {
  position: absolute;
  top: 188px;
  left: 117px;
  border-left: 2px yellow solid;
  height: 30px;
}

.mfd .yellow-needle .line-10 {
  position: absolute;
  top: 213px;
  left: 108.9px;
  width: 6.5px;
  height: 2px;
  rotate: -50deg;
  background-color: yellow;
}

.mfd .yellow-needle .line-11 {
  position: absolute;
  top: 214px;
  left: 113px;
  width: 6px;
  height: 2px;
  rotate: 50deg;
  background-color: yellow;
}

.mfd .blue-needle {
  position: absolute;

  top: 150px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  margin: auto;

  height: 228px;
  width: 228px;

  border-radius: 50%;
  display: inline-block;
  rotate: 0deg;
}

.mfd .blue-needle .triangle-1 {
  position: absolute;
  top: 60px;
  left: 103.5px;
  font-size: 20px;
  rotate: -90deg;
  color: rgb(43, 43, 218);
}

.mfd .blue-needle .triangle-2 {
  position: absolute;
  top: 2px;
  left: 103.5px;
  font-size: 22px;
  rotate: -90deg;
  color: rgb(43, 43, 218);
}


.mfd .blue-needle .rectangle-1 {
  position: absolute;
  top: 41px;
  left: 100px;
  height: 4px;
  width: 24px;
  white-space: nowrap;
  rotate: -90deg;
  border: 1.5px dotted royalblue;
}

.mfd .blue-needle .rectangle-2 {
  position: absolute;
  top: 185px;
  left: 85.5px;
  height: 4px;
  width: 54px;
  white-space: nowrap;
  rotate: -90deg;
  border: 1px dotted royalblue;
}

.mfd .blue-needle .needle-body {
  position: absolute;
  top: 109px;
  left: 61px;
  height: 4px;
  width: 105px;
  white-space: nowrap;
  rotate: -90deg;
  border: 1px dotted royalblue;
}

.mfd .purple-needle {
  position: absolute;

  top: 150px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  margin: auto;

  height: 228px;
  width: 228px;

  border-radius: 50%;
  display: inline-block;
  rotate: 0deg;
}

.mfd .purple-needle .triangle-1 {
  position: absolute;
  top: 64px;
  left: 105px;
  font-size: 18px;
  rotate: -90deg;
  color: purple;
}

.mfd .purple-needle .triangle-2 {
  position: absolute;
  top: 5px;
  left: 104px;
  font-size: 18px;
  rotate: -90deg;
  color: purple;
}

.mfd .purple-needle .line-1 {
  position: absolute;
  top: 19px;
  left: 112.5px;
  border-left: 2px purple solid;
  height: 40px;
  width: 0px;
}

.mfd .purple-needle .line-2 {
  position: absolute;
  top: 158px;
  left: 112.5px;
  border-left: 2px purple solid;
  height: 59px;
  width: 0px;
}

.mfd .purple-needle .needle-body {
  position: absolute;
  top: 60px;
  left: 112.5px;
  border-left: 2px purple solid;
  height: 100px;
  width: 0px;
}

.mfd .white-needle {
  position: absolute;

  top: 150px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  margin: auto;

  height: 228px;
  width: 228px;

  border-radius: 50%;
  display: inline-block;
  rotate: 0deg;
}

.mfd .white-needle .degree {
  position: absolute;
  top: 165.5px;
  left: 116px;
  font-size: 9px;
  color: white;
}

.mfd .white-needle .degree-coma {
  position: absolute;
  top: 167.5px;
  left: 120px;
  font-size: 6px;
  color: white;
}

.mfd .white-needle .circle-1 {
  position: absolute;
  top: 55px;
  left: 111px;
  width: 5px;
  height: 5px;
  background: white;
  border-radius: 100%;
}

.mfd .white-needle .circle-2 {
  position: absolute;
  top: 82px;
  left: 111px;
  width: 5px;
  height: 5px;
  background: white;
  border-radius: 100%;
}

.mfd .white-needle .circle-3 {
  position: absolute;
  top: 111px;
  left: 110px;
  width: 6px;
  height: 6px;
  background: white;
  border-radius: 100%;
}

.mfd .white-needle .circle-4 {
  position: absolute;
  top: 139px;
  left: 111px;
  width: 5px;
  height: 5px;
  background: white;
  border-radius: 100%;
}

.mfd .white-needle .circle-5 {
  position: absolute;
  top: 168px;
  left: 111px;
  width: 5px;
  height: 5px;
  background: white;
  border-radius: 100%;
}