.mfd .tas-gs-container {
  position: absolute;
  top: 125px;
  left: 7px;
  font-size: 14px;
}

.mfd .tas-value {
  padding-left: 5px;
  font-size: 20px;
  text-align: right;
  width: 30px;
}

.mfd .gs-value {
  padding-left: 5px;
  font-size: 20px;
  text-align: right;
  width: 30px;
}