.mfd .tcas-ab-container {
  position: absolute;
  top: 150px;
  right: 7px;
  font-size: 14px;
  color: green;
}

.mfd .wxnorm-container {
  position: absolute;
  top: 185px;
  right: 7px;
  font-size: 12px;
  color: green;
  text-align: right;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}