.mfd .vor1-info {
  position: absolute;
  bottom: 0px;
  right: 0px;

  width: 100px;
  padding: 0px 5px 0px 5px;

  font-size: 16px;
  /* color: rgba(159,207,204,255); */
  color: red;
  text-align: right;
  font-weight: bold;
}

.mfd .vor1-info .dme {
  font-size: 10px;
}