.mfd .vor1 {
  position: absolute;
  bottom: 90px;
  left: 0px;
  height: 80px;
  width: 100px;
  padding: 5px;
}

.mfd .vor1 .icon {
  left: 6px;
  top: 10px;
  position: absolute;
  font-size: 16px;
  color: red;
  font-weight: bold;
}

.mfd .vor1 .line {
  position: absolute;
  top: 20px;
  left: 20px;
  border-left: 2px red solid;
  height: 35px;
}

.mfd .vor1 .circle {
  position: absolute;
  top: 32px;
  left: 16px;
  height: 10px;
  width: 10px;
  background: red;
  border-radius: 50%;
}

.mfd .vor1 .vor1-details {
  position: absolute;
  right: 5px;
  top: 5px;
  bottom: 0px;
  font-size: 16px;
  color: red;
  text-align: right;
  font-weight: bold;
}

.mfd .vor1 .dme {
  color: red;
  font-size: small;
}