.mfd .vor2 {
  position: absolute;
  bottom: 90px;
  right: 0px;
  width: 100px;
  height: 80px;
  font-size: 16px;
  color: red;
  text-align: right;
  padding: 5px;
}

.mfd .vor2 .vor2-text {
  margin-top: 5px;
  font-weight: bold;
}

.mfd .vor2 .icon {
  width: 45%;
  height: 50%;

  position: absolute;
  top: 0;
  left: 40px;
  right: 0px;
  bottom: 25px;

  margin: auto;
}

.mfd .vor2 .line1 {
  position: absolute;
  top: 18px;
  left: 26px;
  border-left: 2px red solid;
  height: 15px;
}

.mfd .vor2 .line2 {
  position: absolute;
  top: 42px;
  left: 24px;
  border-left: 2px red solid;
  height: 17px;
}

.mfd .vor2 .line3 {
  position: absolute;
  top: 42px;
  left: 28px;
  border-left: 2px red solid;
  height: 17px;
}

.mfd .vor2 .line4 {
  position: absolute;
  top: 35px;
  left: 20px;
  width: 8px;
  height: 2px;
  rotate: -50deg;
  background-color: red;
}

.mfd .vor2 .line5 {
  position: absolute;
  top: 35px;
  left: 26px;
  width: 8px;
  height: 2px;
  rotate: 50deg;
  background-color: red;
}

.mfd .vor2 .line6 {
  position: absolute;
  top: 40px;
  left: 26px;
  width: 8px;
  height: 2px;
  rotate: -50deg;
  background-color: red;
}

.mfd .vor2 .line7 {
  position: absolute;
  top: 40px;
  left: 20px;
  width: 9px;
  height: 2px;
  rotate: 50deg;
  background-color: red;
}

.mfd .vor2 .vor2-details {
  position: absolute;
  left: 5px;
  top: 5px;
  bottom: 0px;
  font-size: 16px;
  color: red;
  text-align: left;
  font-weight: bold;
}

.mfd .vor2 .dme {
  color: red;
  font-size: small;
}